<template>
  <div class="wrapper-auth-form">
    <div class="block-h block-invite"
      v-if="invite">
      <div class="message is-success ">
        <div class="message-body">
          <b>{{invite.owner_name}}</b>
          invited you to join
          <b>{{invite.company_name}}</b>!
        </div>
      </div>
    </div>
    <form class="block-h auth-form">
      <template v-if="action == REGISTER_USER || action === JOIN">
        <div class="field"
          v-if="action != JOIN">
          <div class="control">
            <input class="input is-medium" type="text"
              id="id-company-name"
              placeholder="Company name"
              v-model="company.name"
              v-validate="'required'" name="company name"
              :class="{'is-danger': errors.has('company name') }">
          </div>
          <div class="help is-danger"
            v-show="errors.has('company name')">
            {{errors.first('company name')}}
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input is-medium" type="text"
              id="id-user-name"
              placeholder="Your full name"
              v-model="user.name"
              v-validate="'required'" name="full name"
              :class="{'is-danger': errors.has('full name') }">
          </div>
          <div class="help is-danger"
            v-show="errors.has('full name')">
            {{errors.first('full name')}}
          </div>
        </div>

      </template>
      <div class="field">
        <div class="control">
          <input class="input is-medium" type="email"
            placeholder="Your email"
            id="id-user-email"
            v-model="user.email"
            v-validate="'required'" name="email"
            :class="{'is-danger': errors.has('email') }">
        </div>
        <div class="help is-danger"
          v-show="errors.has('email')">
          {{errors.first('email')}}
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input is-medium" type="password"
            placeholder="Your password"
            v-model="user.password"
            v-validate="'required|min:6'" name="password"
            :class="{'is-danger': errors.has('password') }">
        </div>
        <div class="help is-danger"
          v-show="errors.has('password')">
          {{errors.first('password')}}
        </div>
      </div>
      <div class="control">
        <button type="submit" class="button is-brand is-medium is-fw"
          @click.prevent="doAuth()"
          :class="{'is-loading': ui.isLoading}"
          :disabled="disabled">
          <span v-if="action == LOG_IN">
            Sign in
          </span>
          <span v-else>
            Join
          </span>
        </button>
      </div>
    </form>
    <div class="has-text-centered"
      v-if="target != 'join'">
      <a href="" class="button is-text"
        @click.prevent="changeAction()">
        <span v-if="action == REGISTER_USER">
          Or sign in
        </span>
        <span v-else>
          Back to registration
        </span>
      </a>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import types from '../store/types'

export default {
  name: 'AuthForm',

  props: {
    target: {
      type: String,
      default: 'default',
    },

    action: {
      type: String,
      default: types.REGISTER_USER,
    },
  },

  data () {
    return {
      REGISTER_USER: types.REGISTER_USER,
      LOG_IN: types.LOG_IN,
      JOIN: types.JOIN,
      user: {},
      company: {},
      invite: null,
      disabled: false,
      code: null,
    }
  },

  computed: {
    ...mapState(['ui']),
  },

  created () {
    if (this.target === 'join') {
      this.code = this.$route.params.code
      this.processInvite()
    }

    if (!this.action) {
      this.action = types.REGISTER_USER
    }
  },

  methods: {
    changeAction () {
      this.action = this.action === this.REGISTER_USER ? this.LOG_IN : this.REGISTER_USER
    },

    doAuth () {
      this.$validator.validateAll().then((success) => {
        if (success) {
          const self = this
          const payload = { user: self.user }

          if (self.action === self.REGISTER_USER) {
            payload.company = self.company
          }

          if (self.action === types.JOIN) {
            payload.code = self.code
          }

          self[self.action](payload).then(function () {
            if (self.action !== types.JOIN) {
              self.$router.go()
              self.$router.push({ name: 'staff' })
            } else {
              self.$emit('joinSuccess')
            }
          })

        } else {
          this[types.UI_SHOW_ERROR]({ message: 'Please correct form errors' })
        }
      })
    },

    processInvite () {
      const self = this
      self[types.CHECK_INVITE]({ code: self.code })
        .then(function (res) {
          if (res.success) {
            self.invite = res
            self.action = types.JOIN
          } else {
            self[types.UI_SHOW_ERROR]({ message: 'Invalid code' })
            self.disabled = true
          }
        })
    },

    ...mapActions([
      types.REGISTER_USER, types.LOG_IN,
      types.CHECK_INVITE, types.JOIN,
    ]),

    ...mapMutations([types.UI_SHOW_ERROR]),
  },
}
</script>

<style scoped lang="stylus">
.block-invite
  margin-bottom 1.5rem

.auth-form
  margin-bottom .4rem

.field
  margin-bottom 1.2rem
</style>
