<template>
  <div class="wrapper-auth-form-new">
    <div class="form-wrapper">
      <form>
        <div class="auth-switch mobile-show">
          <a href=""
            :class="{ 'is-active': mode == 'su' }"
            @click.prevent="switchMode('su')">
            Sign up
          </a>
          <a href=""
          :class="{ 'is-active': mode == 'si' }"
            @click.prevent="switchMode('si')">
            Sign in
          </a>
        </div>
        <div class="form-logo">
          <img src="../assets/logo.svg" alt="">
        </div>
        <div class="form-inputs">
          <template v-if="mode == 'su'">
            <div class="form-input">
              <input type="text"
                placeholder="Company name">
            </div>
            <div class="form-input">
              <input type="text"
                placeholder="Your full name">
            </div>
          </template>
          <div class="form-input">
            <input type="text"
              placeholder="Your email">
          </div>
          <div class="form-input">
            <input type="password"
              placeholder="Your password">
          </div>
        </div>
        <div class="form-action">
          <button type="submit"
            @click.prevent="doAuth()">
            <template v-if="mode == 'su'">
              <span class="mobile-hide">Sign up</span>
              <span class="mobile-show">Get started</span>
            </template>
            <template v-if="mode == 'si'">
              Sign in
            </template>
          </button>
        </div>
      </form>
    </div>
    <div class="auth-switch mobile-hide">
      <a href=""
        @click.prevent="switchMode()">
        Or sign
        <template v-if="mode == 'su'">
          in
        </template>
        <template v-if="mode == 'si'">
          up
        </template>
      </a>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import types from '../store/types'

export default {
  name: 'AuthFormNew',

  data () {
    return {
      mode: 'su'
    }
  },

  methods: {
    switchMode (mode) {
      if (mode) {
        this.mode = mode
      } else {
        this.mode = this.mode === 'su' ? 'si' : 'su'
      }
    },

    doAuth () {
      this[types.UI_SHOW_SUCCESS]({ message: 'Coming soon!' })
    },

    ...mapMutations([types.UI_SHOW_SUCCESS]),
  },
}
</script>

<style scoped lang="stylus">
$placeholder-color = rgba(255,255,255,.88)

.form-wrapper
  color #fff

  @media (min-width: 769px)
    margin 0 auto
    padding 0 30px 30px
    width 360px
    background-color #000
    border-radius 2px

.form-logo
  padding 53px 0
  text-align center

  img
    height 64px

  @media (max-width: 768px)
    padding 77px 0 66px

    img
      height 84px

  @media (max-width: 374px)
    padding 62px 0 53px

    img
      height 67px

.form-input
  height 35px
  margin-bottom 29px
  padding-left 10px
  border-bottom 1px solid rgba(255,255,255,.2)

  @media (max-width: 768px)
    ::-webkit-input-placeholder
      color $placeholder-color

    :-ms-input-placeholder
      color $placeholder-color

    ::-ms-input-placeholder
      color $placeholder-color

    ::placeholder
      color $placeholder-color

  input
    width 100%
    background-color transparent
    border none
    outline none
    color #fff
    font-size 16px
    line-height 1

.form-action
  button
    width 100%
    padding 16px 0
    background-color #fff
    color #000
    border none
    border-radius 2px
    font-size 18px
    letter-spacing 2px
    text-transform uppercase
    line-height 1
    font-weight 500
    cursor pointer

    *
      letter-spacing 2px

    &:hover
      opacity .9

    @media (max-width: 768px)
      position absolute
      bottom 0
      padding 24px 0
      background-color #000
      color #fff
      border-radius 0

    @media (max-width: 374px)
      padding 19px 0
      font-size 16px

.auth-switch
  margin-top 20px
  margin-bottom 40px
  text-align center

  a
    display inline-block
    padding-bottom 17px
    border-bottom 1px solid #fff
    font-size 18px
    line-height 1
    color #ffffff

    &:hover
      border-bottom 1px solid transparent

  @media (max-width: 768px)
    margin-top 40px
    margin-bottom 0
    padding-right 30px
    text-align right

    a
      font-size 10px
      text-transform uppercase
      font-weight bold
      letter-spacing 2px
      padding-bottom 9px
      border-color transparent
      opacity .7

      &.is-active
        border-bottom 1px solid #fff
        opacity 1

    a + a
      margin-left 30px

  @media (max-width: 374px)
    margin-top 32px

.form-inputs
  @media (max-width: 768px)
    padding 0 18px
</style>
