<template>
  <div class="wrapper-challenge-form">
    <form action="" class="block-h">
      <div class="row">
        <div class="col col-50 col-pdr">
          <div class="field">
            <label class="label">Goal/title *</label>
            <div class="control">
              <input type="text" class="input"
                v-model="challenge.title"
                v-validate="'required|max:120'"
                name="goal"
                :class="{'is-danger': errors.has('goal') }">
            </div>
            <div class="help is-danger"
              v-show="errors.has('goal')">
              {{errors.first('goal')}}
            </div>
          </div>
        </div>

        <div class="col col-50 col-pdl">
          <div class="field">
            <label class="label">Winners' bounties</label>
            <div class="control">
              <input type="text" class="input"
                v-validate="'max:200'"
                v-model="challenge.reward"
                name="rewards"
                :class="{'is-danger': errors.has('rewards') }">
            </div>
            <div class="help is-danger"
              v-show="errors.has('rewards')">
              {{errors.first('rewards')}}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col col-50 col-pdr">
          <div class="field">
            <label class="label">Problem background</label>
            <div class="control">
              <textarea class="textarea" placeholder=""
                v-model="challenge.background"
                rows="2"></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">Ideal result *</label>
            <div class="control">
              <textarea class="textarea" placeholder=""
                rows="2"
                v-model="challenge.result"
                v-validate="'required'"
                name="ideal result"
                :class="{'is-danger': errors.has('ideal result') }"></textarea>
            </div>
            <div class="help is-danger"
              v-show="errors.has('ideal result')">
              {{errors.first('ideal result')}}
            </div>
          </div>
        </div>

        <div class="col col-50 col-pdl">
          <div class="field">
            <label class="label">Winning criteria</label>
            <div class="control">
              <textarea class="textarea" placeholder=""
                v-model="challenge.criteria"
                rows="2"></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">Extra details</label>
            <div class="control">
              <textarea class="textarea" placeholder=""
                v-model="challenge.extra_details"
                rows="2"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="field actions">
        <div class="control">
          <button type="submit" class="button is-brand is-fw"
            @click.prevent="submit()"
            :class="{'is-loading': ui.isLoading}">
            Launch
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { mapMutations, mapActions, mapState } from 'vuex'
import types from '../store/types'

export default {
  name: 'ChallengeForm',

  data () {
    return {
      challenge: {},
    }
  },

  computed: {
    ...mapState(['ui'])
  },

  methods: {
    submit () {
      this.$validator.validateAll().then((success) => {
        if (success) {
          const self = this
          self[types.CREATE_CHALLENGE](self.challenge).then(function () {
            self.$router.push({ name: 'main' })
          })

        } else {
          this[types.UI_SHOW_ERROR]({ message: 'Please correct form errors' })
        }
      })
    },

    ...mapMutations([types.UI_SHOW_ERROR]),
    ...mapActions([types.CREATE_CHALLENGE])
  }
}
</script>

<style scoped lang="stylus">
form
  margin-bottom 1.5rem

  .actions
    margin-top 1.2rem

  .field
    margin-bottom .75rem
</style>
