<template>
  <div class="wrapper-challenge-tile">
    <div class="challenge-tile"
      @click="$router.push({ name: 'challenge' })">
      <div class="tile-title">
        General improvement ideas
      </div>
      <div class="tile-meta has-text-grey-dark">
        <small>Mar 19, 2018 by Cary G</small>
      </div>
      <div class="tile-item">
        🏆&nbsp;
        USD200 for each winner
      </div>
      <div class="tile-item">
        🔥&nbsp;
        123 suggestions
      </div>
      <div class="tile-item has-text-grey-dark">
        <small>
          <i class="fa fa-check"></i>&nbsp;
          You've submitted a suggestion
        </small>
      </div>
      <div class="tile-item tile-winners">
        <b>Winners:</b><br>
        Katharine H, Humphrey B, Bette D
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ChallengeTile',

  data () {
    return {}
  },
}
</script>

<style scoped lang="stylus">
.challenge-tile
  margin 0 1rem 1.5rem
  padding .5rem 1rem
  background-color #efeeff
  // background-color #f7f7f7
  border-radius 4px
  cursor pointer

  @media (min-width: 769px)
    margin-left 0
    margin-right 0
    padding .75rem 1.5rem

  &:hover
    background-color #dfddff
    // background-color #eee

.tile-title
  font-size 20px
  font-weight 500

.tile-meta
  margin-bottom .5rem

.tile-item
  margin-bottom .25rem

.tile-winners
  margin-top .75rem
  margin-bottom .75rem
  background-color #fffae9
  padding .5rem 1rem
  border-radius 4px
</style>
