<template>
  <div class="wrapper-staff-tile">
    <div class="block-h">
      <div class="staff-tile is-clearfix">
        <div class="is-pulled-left">
          <div class="title is-4"
            :class="{'brand-blue': obj.role === 'ma'}">
            {{obj.name}}
          </div>
          <div class="subtitle is-6">{{obj.email}}</div>
        </div>
        <div class="is-pulled-right delete-staff"
          v-if="obj.id != user.id">
          <a href="" class="has-text-danger btn-delete"
            :disabled="ui.isLoading"
            @click.prevent="handleUserDeletion(obj.id)">
            <span
              v-if="userToDelete != obj.id"
              key="delete-init"
            >
              <i class="far fa-trash-alt"></i>
            </span>
            <small
              v-else
              key="delete-confirm"
            >
              <b>confirm</b>
            </small>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import types from '../store/types'

export default {
  name: 'StaffTile',

  props: {
    obj: {
      type: Object,
      default () {
        return {}
      },
    },
  },

  data () {
    return {
      user: this.$store.state.user,
      userToDelete: 0,
    }
  },

  computed: {
    ...mapState(['ui']),
  },

  methods: {
    handleUserDeletion (id) {
      if (this.userToDelete === id) {
        this[types.DELETE_USER]({ id })
      } else {
        this.userToDelete = id
      }
    },

    ...mapActions([types.DELETE_USER]),
  },
}
</script>

<style scoped lang="stylus">
.delete-staff
  padding-top .5em
  font-size 1.5em
  line-height 1

  small
    font-size .75em

  a:hover
    opacity .65

.btn-delete
  &[disabled]
    opacity .75
    pointer-events none

.staff-tile
  padding-bottom 1.25rem
</style>
