<template>
  <div class="wrapper-staff-invites">
    <div class="block-h">
      <div class="message is-success is-small message-confirmation"
        v-if="!user.is_email_confirmed">
        <div class="message-body">
          <b>
            Please confirm your account via confirmation email to
            activate invitation links
          </b>
        </div>
      </div>

      <div class="message is-info is-small message-invite">
        <div class="message-body">
          <div class="header">
            <i class="fa fa-info-circle"></i>
            Click to copy an invitation link
          </div>
          <div class="message-block">
            <b>Managers</b> create challenges and pick winning solutions.
          </div>
          <div class="message-block">
            <b>Employees</b> participate in challenges and submit solutions.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50 col-m col-pdr">
          <button
            class="button is-fw is-small is-black is-outlined btn-invite"
            @click.prevent="selectLink('em')">
            Employee
          </button>
        </div>
        <div class="col col-50 col-m col-pdl">
          <button
            class="button is-fw is-small is-brand-blue is-outlined btn-invite"
            @click.prevent="selectLink('ma')">
            Manager
          </button>
        </div>
      </div>
      <template v-if="showInviteLink">
        <div class="control invite-link is-small">
          <input type="text"
            :value="inviteLinkText"
            class="input is-small"
            id="invite-code"/>
        </div>
        <div class="help grey">
          Copy this link and send it to your employees.
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'StaffInvites',

  data () {
    return {
      inviteLinkText: '',
      showInviteLink: false,
    }
  },

  computed: {
    ...mapState(['user', 'ui', 'siteUrl']),
  },

  methods: {
    selectLink (type) {
      this.inviteLinkText = `${this.siteUrl}join/${this.user.invites[type]}/`
      this.showInviteLink = true

      setTimeout(function () {
        const inviteEl = document.getElementById('invite-code')
        inviteEl.focus()
        inviteEl.setSelectionRange(0, 999)
      }, 100)
    }
  },
}
</script>

<style scoped lang="stylus">
.message-confirmation
  margin-bottom 1rem

.message-invite
  margin-bottom 1rem

.message-body
  padding .5em 1.25em

  .header
    font-weight bold
    margin-bottom .4em

.message-block
  margin-top .25em

.btn-invite
  outline none !important

.invite-link
  margin-top 1rem
</style>
