<template>
  <div class="wrapper-top-bar">
    <nav class="row">
      <div class="col col-main">
        <div class="block-h">
          <div class="nav-left">
            <router-link :to="{ name: 'main' }"
              class="nav-item logo">
              {{$store.state.user.companyName}}
            </router-link>
            <UITopBarItems v-if="!isMobile"/>
          </div>
          <div class="nav-right">
            <a href="" class="nav-item"
              v-if="!isMobile"
              @click.prevent="logOut()">
              Sign out
            </a>
            <a href="#" class="nav-item"
              v-if="isMobile"
              @click.prevent="toggleMenu()">
              <template v-if="!showMenu">menu</template>
              <template v-else>close</template>
            </a>
          </div>
        </div>
      </div>

      <div class="menu-mobile"
        v-if="showMenu">
        <div class="block-h">
          <UITopBarItems/>
          <a href="" class="nav-item"
            @click.prevent="logOut()">
            Sign out
          </a>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import UITopBarItems from '@/components/UITopBarItems'
import types from '../store/types'

export default {
  name: 'UITopBar',

  data () {
    return {
      isMobile: this.$isMobile,
      showMenu: false,
    }
  },

  components: { UITopBarItems },

  methods: {
    toggleMenu () {
      this.showMenu = !this.showMenu
    },

    logOut () {
      this.$store.commit(types.LOG_OUT)
      this.$router.go()
    }
  },
}
</script>

<style lang="stylus">
nav
  position fixed
  top 0
  left 0
  width 100%
  height 40px
  box-shadow 0 4px 4px rgba(0, 0, 0, 0.06)
  background-color #fff
  z-index 1

.nav-left
  float left

  .nav-item
    margin-right 1rem

.nav-right
  float right

.nav-item
  display inline-block
  padding-top 10px
  font-size 16px
  line-height 1
  color #000

  &.new-challenge
    color #0F00FF !important
    font-weight 500

  &.logo
    font-weight bold
    font-size 18px

  &:hover
    color #0F00FF !important

  &:focus
    color #000

  &:visited
    color #000

.menu-mobile
  position absolute
  top 40px
  left 0
  width 100%
  background-color #fff

  .nav-item
    padding-top 12px
    padding-bottom 12px
    display block

  .block-h
    border-top 1px solid #e9e9e9
    border-bottom 1px solid #e9e9e9
    box-shadow 0 4px 4px rgba(0, 0, 0, 0.06)
    padding-top 10px
    padding-bottom 10px
</style>
