<template>
  <div class="wrapper-ui-top-bar-links">
    <router-link :to="{ name: 'challenge-new' }"
      v-if="isManager"
      class="nav-item new-challenge">
      Start a Challenge
    </router-link>
    <router-link :to="{ name: 'challenges-my' }"
      class="nav-item">
      My Challenges
    </router-link>
    <router-link :to="{ name: 'staff' }" class="nav-item"
      v-if="isManager">
      Staff
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'UITopBarItems',

  computed: {
    isManager () {
      return this.$store.getters.isManager
    },
  },
}
</script>

<style scoped lang="stylus">
.wrapper-ui-top-bar-links
  display inline
</style>
