.button
  padding-bottom: 0.375em
  font-weight: 500

  &[disabled]
    pointer-events: none

  &.is-loading
    opacity: .75

  &.is-text
    &:hover
      text-decoration: none
      background-color: inherit

  &.is-brand
    color: #fff
    background-color: #0F00FF
    border: none
    outline: none

    &:hover
      background-color: #4f44ff

    &.is-outlined
      border: 1px solid #0F00FF
      color: #0F00FF
      background-color: transparent

      &:hover
        background-color: #0F00FF
        color: #fff
