.page-wrapper:not(.wrapper-intro)
  padding-top: 40px

.page-wrapper
  @media (max-width: 768px)
    padding-bottom: 2.5rem

.container.cp
  color: #000

  &.first
    padding-top: 1.5rem

  @media (max-width: 768px)
    padding: 1rem

.divider
  border-top 1px solid #e9e9e9

  &.dark
    border-color: #c7c7c7

.block-h
  @media (max-width: 768px)
    padding: 0 1rem

.block-v
  @media (max-width: 768px)
    padding: 1rem 0

.block
  @media (max-width: 768px)
    padding: 1rem 1rem

.block-first
  padding-top: 1.5rem

.hero
  .hero-body
    padding-left: 0
    padding-right: 0

    padding-top: 2rem
    padding-bottom: 2rem

.tabs
  margin-bottom 0 !important

  li
    &.is-active
      a
        border-bottom-color: #0F00FF
        color: #0F00FF

  @media (min-width: 769px)
    ul
      padding-left 20%
      padding-right 20%

  @media (min-width: 1920px)
    ul
      padding-left 25%
      padding-right 25%

.toasted-container
  svg
    margin-right: .5rem

  &:not(.fit-to-screen)
    top: 0.5rem

.faded
  opacity: .75
  pointer-events: none

.mobile-show
  @media (min-width: 769px)
    display: none !important;

.mobile-hide
  @media (max-width: 768px)
    display: none !important;

.message
  position relative

  &.is-info
    .message-tag
      background-color #2B9EEC

  &.is-primary
    .message-tag
      background-color #22D0B2

  &.is-link
    .message-tag
      background-color #3675DA

  &.is-brand
    background-color: #F5F5FF

    .message-body
      border-color: #0F00FF

    .message-tag
      background-color #0F00FF
  
  &.is-danger
    background-color: #F5F5FF

    .message-body
      border-color: #FC3C63

    .message-tag
      background-color #FC3C63
  
  .message-tag
    position absolute
    top -17px
    height 18px
    padding 3px 5px
    color: #fff
    border-radius 3px 3px 0 0
    font-size 8px
    font-weight bold
    text-transform uppercase
    letter-spacing 1.5px
