.row:after
  content: ''
  display: table
  clear: both

.row
  .col
    float: left

    &:not(.col-m)
      @media (max-width: 768px)
        width: 100%

.col-pdl
  &.col-m
    padding-left: .6rem

  @media (min-width: 769px)
    padding-left: 1rem

.col-pdr
  &.col-m
    padding-right: .6rem

  @media (min-width: 769px)
    padding-right: 1rem

.col-main
  width: 60%

  @media (min-width: 769px)
    margin-left: 20%
  
  @media (min-width: 1920px)
    width: 50%
    margin-left: 25%

.col-5
  width: 5%

.col-10
  width: 10%

.col-15
  width: 15%

.col-20
  width: 20%

.col-25
  width: 25%

.col-30
  width: 30%

.col-33
  width: 33%

.col-35
  width: 35%

.col-40
  width: 40%

.col-45
  width: 45%

.col-50
  width: 50%

.col-55
  width: 55%

.col-60
  width: 60%

.col-65
  width: 65%

.col-70
  width: 70%

.col-75
  width: 75%

.col-80
  width: 80%

.col-85
  width: 85%

.col-90
  width: 90%

.col-95
  width: 95%

.col-100
  width: 100%
