<template>
  <div class="page-wrapper">
    <UITopBar/>
    <div class="row">
      <div class="col col-main">
        <div class="mt wip block-h">
          <h2 class="title is-2">
            Challenge Page
            <sup><span class="tag is-danger">WIP</span></sup>
          </h2>
          <h4 class="subtitle is-4">
            Employees submit solutions, managers pick winners
          </h4>
          <div class="content is-medium">
            <ul>
              <li>Solutions are anonymous until the winner(s) is/are picked</li>
              <li>Solutions are visible to managers only</li>
              <li>Managers can issues challenge updates</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UITopBar from '@/components/UITopBar'

export default {
  name: 'ChallengePage',

  components: {
    UITopBar,
  },

  data () {
    return {}
  },
}
</script>

<style scoped lang="stylus">
.wip
  .title
    margin-bottom 1.75rem

  ul
    margin-left 1.25em
</style>
