<template>
  <div class="page-wrapper">
    <UITopBar/>
    <div class="row">
      <div class="col col-main">
        <div class="block-h block-first">
          <div class="message is-success ">
            <div class="message-body">
              New challenge help text here
            </div>
          </div>
        </div>
        <ChallengeForm class="mt"/>
      </div>
    </div>
  </div>
</template>

<script>
import UITopBar from '@/components/UITopBar'
import ChallengeForm from '@/components/ChallengeForm'

export default {
  name: 'ChallengeNewPage',

  components: {
    UITopBar,
    ChallengeForm,
  },

  data () {
    return {}
  },
}
</script>

<style scoped lang="stylus">

</style>
