<template>
  <div class="page-wrapper page-my-challenges">
    <UITopBar/>
    <div class="tabs is-fullwidth">
      <ul>
        <li class="is-active"><a>Creator</a></li>
        <li><a>Participant</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col col-main">
        <div class="mt">
          <ChallengeTile/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UITopBar from '@/components/UITopBar'
import ChallengeTile from '@/components/ChallengeTile'

export default {
  name: 'ChallengesMyPage',

  components: {
    UITopBar,
    ChallengeTile,
  },

  data () {
    return {}
  },
}
</script>

<style scoped lang="stylus">
.tabs
  margin-top .5rem
</style>
