<template>
  <div class="page-wrapper wrapper-email-confirmation">
    <div class="pageloader is-info"
      :class="{'is-active': ui.isLoading}">
      <span class="title">Confirming your email</span>
      </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import types from '../store/types'

export default {
  name: 'EmailConfirmationPage',

  created () {
    console.log('qqq')
    this.tryConfirmation()
  },

  data () {
    return {}
  },

  computed: {
    ...mapState(['ui']),
  },

  methods: {
    tryConfirmation () {
      const payload = this.$route.query
      const self = this

      self[types.CONFIRM_USER](payload).then(function () {
        console.log('this this')
        self.$router.go()
        self.$router.push({ name: 'staff' })
      })
    },

    ...mapActions([types.CONFIRM_USER]),
  }
}
</script>

<style scoped lang="stylus">

</style>
