<template>
  <div class="intro-wrapper">
    <div class="topbar-mobile"
      v-if="isMobile"
      @click="initAuth(types.LOG_IN)">
      Already joined? Tap to login
    </div>
    <div class="row row-top" id="intro-top">
      <div class="col col-50 col-marketing col-pdr">
        <div class="marketing"
          :class="{'hero is-info is-bold is-small': isMobile}">
          <div
            :class="{'hero-body': isMobile}">
            <div
              :class="{'has-text-centered': isMobile}">
              <h2 class="title is-3 title-top">
                <b>1B</b> will be an intranet consulting platform designed with two goals in mind<span class="mobile-hide">:</span>
              </h2>
            </div>
          </div>
        </div>
        <div class="points"
          :class="{'has-text-centered': isMobile}">
          <div class="marketing-item">
            <h2 class="title is-3">
              <!-- <span class="emoji">👍&nbsp;</span> -->
              To solve your company's high-level problems<span class="mobile-hide">.</span>
            </h2>
            <h4 class="subtitle is-4">
              By creating internal challenges for your employees to tackle
            </h4>
          </div>
          <div class="marketing-item">
            <h2 class="title is-3">
              <!-- <span class="emoji">👌&nbsp;</span> -->
              To highlight overlooked opportunities<span class="mobile-hide">.</span>
            </h2>
            <h4 class="subtitle is-4">
              By empowering your employees to pitch and discuss improvement proposals
            </h4>
          </div>
          <!-- <div class="marketing-item last">
            <h2 class="title is-3">
              <span class="emoji">⚡️&nbsp;</span>
              Overlooked <span class="medium">Opportunities</span>
            </h2>
            <h4 class="subtitle is-5">
              Let your talents mark opportunities and company's pain points and you won't miss anything significant ever again.
            </h4>
          </div> -->
        </div>
      </div>

      <div class="col col-30 col-pdl"
        v-if="!isMobile">
        <div class="section-auth">
          <AuthForm/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-80 col-marketing col-demo">
        <div class="divider"></div>
        <h3 class="title is-3 has-text-centered demo-title">
          Examples
        </h3>

        <div class="row row-demo">
          <div class="col col-50 col-pdr">
            <div class="has-text-centered">
              <h4 class="title is-4">
                Create a challenge
              </h4>
              <!-- <h5 class="subtitle is-6">
                To tackle high-level problems
              </h5> -->
            </div>
            <div class="message is-info">
              <!-- <div class="message-tag">
                exibit a
              </div> -->
              <div class="message-body">
                <b>Robert</b>: Hey everyone.
                How can we boost monetization without being clingy?
                Winning criteria and details inside. Bounty's $xx.
              </div>
            </div>

            <div class="has-text-centered demo-arrow">
              <!-- 👇&nbsp;&nbsp; 👇&nbsp;&nbsp; 👇 -->
              <i class="fas fa-long-arrow-alt-down"></i>
            </div>

            <div class="has-text-centered">
              <h4 class="title is-4">
                Receive actionable insights
              </h4>
              <!-- <h5 class="subtitle is-6">
                Producing actionable insights
              </h5> -->
            </div>
            <div class="message is-primary">
              <!-- <div class="message-tag">
                exibit b
              </div> -->
              <div class="message-body">
                <b>John</b>: Let people get featured on city pages as guides – it'll be relevant and useful.<br>
                <b>Jennifer</b>: Offer insurance from Y as a cross-sell to remove paperwork hassle.
              </div>
            </div>
          </div>

          <div class="col col-50 col-pdl">
            <div class="subdivider" v-if="isMobile"></div>
            <div class="has-text-centered">
              <h4 class="title is-4">
                Discover what's missed
              </h4>
              <!-- <h5 class="subtitle is-6">
                To highlight what's being overlooked
              </h5> -->
            </div>
            <div class="message is-primary">
              <!-- <div class="message-tag">
                exibit c
              </div> -->
              <div class="message-body">
                Multiple daily meetings: consequence of
                communication issues and a potential source of
                low performance? <i>42 people are discussing</i>.
              </div>
            </div>

            <div class="has-text-centered demo-arrow">
              <!-- 👇&nbsp;&nbsp; 👇&nbsp;&nbsp; 👇 -->
              <i class="fas fa-long-arrow-alt-down"></i>
            </div>

            <div class="has-text-centered">
              <h4 class="title is-4">
                And address it
              </h4>
              <!-- <h5 class="subtitle is-6">
                Driving the progress and improving the business
              </h5> -->
            </div>
            <div class="message is-info">
              <!-- <div class="message-tag">
                exibit d
              </div> -->
              <div class="message-body">
                This March James' team will be testing 2
                meetings/week layout with kanban for individual
                tasks. Company-wide adoption TBD next month.
                Thanks for input everyone!
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col col-80 col-marketing col-conclusion">
        <div class="divider"></div>
        <!-- <h5 class="title is-5 has-text-centered">
          Startups pioneered continuous growth as a business model<br class="mobile-hide">
          and proved the importance of <span class="medium">agility</span> in outmaneuvering the competition.
          <br><br>
          We've used these principles to help you stay on the edge of what's possible<br class="mobile-hide">
          and unlock your <span class="medium">true potential</span>.
        </h5> -->
        <div class="block-join"
          v-if="!showAuthForm">
          <button class="button is-medium is-brand"
            @click="initAuth()">
            Join 1B
          </button>
          <h5 class="title is-6 has-text-centered">
            You won't need 🍀
            <!-- Let's unlock your full potential -->
          </h5>
        </div>
        <div id="id-auth-form"></div>
        <AuthForm class="mb"
          :action="authAction"
          v-if="isMobile && showAuthForm"/>
        <div class="divider"></div>
        <div class="intro-footer">
          &copy; 2018, 1B<sup>α</sup>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AuthForm from '@/components/AuthForm'
import types from '../store/types'

export default {
  name: 'IntroPage',

  components: {
    AuthForm,
  },

  data () {
    return {
      isMobile: this.$isMobile,
      showAuthForm: false,
      authAction: null,
      types: types,
    }
  },

  methods: {
    focusOnForm () {
      const selector = this.authAction === this.types.LOG_IN
        ? 'id-user-email'
        : 'id-company-name'

      setTimeout(() => {
        document.getElementById(selector).focus()
      }, 20)
    },

    initAuth (action) {
      let scrollToSelector = '#intro-top'

      if (this.isMobile) {
        this.authAction = action
        this.showAuthForm = true
        scrollToSelector = '#id-auth-form'
      }

      this.$scrollTo(scrollToSelector, 300,
        { onDone: this.focusOnForm }
      )
    },
  },
}
</script>

<style scoped lang="stylus">
.col-marketing
  .title
    font-weight 400

  .hero
    margin-bottom 2.5rem
    padding-left 1rem
    padding-right 1rem

  @media (min-width: 769px)
    margin-left 10%

.row-top
    @media (min-width: 769px)
      padding-top 2rem

.marketing-item
  margin-bottom 2rem
  line-height 2.5

  .title, .subtitle
    @media (min-width: 769px)
      display inline

  .emoji
    @media (max-width: 768px)
      display block
      margin-bottom .4rem

  @media (max-width: 768px)
    padding-left 1rem
    padding-right 1rem

    .subtitle
      line-height 1.75

    .title
      line-height 1.5

  .subtitle
    padding-top 0.5rem
    color: #666

.section
  &.bottom
    padding 1rem 1.5rem

  &.marketing
    padding-bottom 1rem

.points
  @media (min-width: 769px)
    margin-bottom 2.5rem

.section-auth
  @media (max-width: 768px)
    margin-bottom 2rem

  @media (min-width: 769px)
    border 1px solid #e9e9e9
    border-radius 4px
    padding 2rem 2rem 1.2rem

.title-top
  line-height 1.4

  @media (min-width: 769px)
    margin-bottom 2rem

  b
    letter-spacing 1.5px

.title.is-3
  @media (min-width: 769px)
    font-size 1.8rem

.divider
  border-color #2f22ff
  margin 0 0 2.5rem

.col-demo
  @media (max-width: 768px)
    padding-left 1rem
    padding-right 1rem

  @media (min-width: 769px)
    .col-pdr
      padding-right 2.5rem

    .col-pdl
      padding-left 2.5rem

  .subtitle
    margin-top -1.25rem

  .message
    margin-top 1.25rem
    margin-bottom 0

    .message-body
      border-top-left-radius 0
      line-height 1.66
      color: #282828 !important

.demo-arrow
  margin 1.5rem 0 1rem
  font-size 28px
  line-height 1

.demo-title
  margin-bottom 2.5rem

  @media (max-width: 768px)
    margin-bottom 1.5rem

.row-demo
  margin-bottom 3rem

.block-join
  margin-bottom 2.5rem
  text-align center

  .button
    padding-left 4em
    padding-right 4em
    text-transform uppercase
    letter-spacing 2px

  .title
    margin-top .25rem

.intro-footer
  text-align center
  margin-bottom 2.5rem

.col-conclusion
  @media (max-width: 768px)
    padding-left 1rem
    padding-right 1rem

  h5
    line-height 1.6

.subdivider
  margin 2.5rem auto 2rem
  width 50%
  border-top 1px solid #D6D6D6

.topbar-mobile
  padding .4rem 0
  text-align center
  background-color #2f22ff
  color #fff
  font-weight 500
  letter-spacing 1.5px
</style>
