<template>
  <div class="wrapper-join">
    <div class="row">
      <div class="col col-main">
        <template v-if="!emailSent">
          <AuthForm
            class="auth-form"
            target="join"
            @joinSuccess="emailSent = true"/>
        </template>
        <template v-else>
          <div
            class="block-h block-first has-text-centered block-done">
            <i class="fa fa-check-circle has-text-success fa-3x"></i>
            <h3 class="title is-3">All done!</h3>
            <div>
              You'll find a login link in your email
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import AuthForm from '@/components/AuthForm'

export default {
  name: 'JoinPage',

  components: {
    AuthForm,
  },

  data () {
    return {
      emailSent: false,
    }
  },
}
</script>

<style scoped lang="stylus">
.auth-form
  margin-top 1.5rem

.block-done
  margin-top 2rem

  .title
    margin-top 1rem
    margin-bottom .5rem
</style>
