<template>
  <div class="page-landing">
    <div class="landing-background"></div>
    <div class="hero is-fullheight">
      <div class="hero-body">
        <div class="intro-titles is-fw">
          <h1 class="title">
            <span class="mobile-hide">
              Welcome to
            </span>
            1B
          </h1>
          <h2 class="subtitle">
            An intranet consulting platform
          </h2>
        </div>
      </div>

      <div class="hero-foot learn-more">
        <a href="" @click.prevent="learnMore()">Learn more</a>
      </div>
    </div>

    <div class="hero is-fullheight landing-features">
      <div class="hero-head features-switches mobile-show">
        <a href=""
          :class="{ 'is-active': featuresMode == 'ma' }"
          @click.prevent="setFeaturesMode('ma')">Managers</a>
        <a href=""
          :class="{ 'is-active': featuresMode == 'em' }"
          @click.prevent="setFeaturesMode('em')">Employees</a>
      </div>

      <div class="hero-body">
        <div class="features-copy">
          <h3 class="title">
            <template v-if="featuresMode == 'ma'">
              Challenge,<br>
              Solve
            </template>
            <template v-else>
              Discover,<br>
              Improve
            </template>
          </h3>
          <div class="features-tiles mobile-show">
            <img
              v-if="featuresMode == 'ma'"
              src="../assets/landing-tiles-managers-mo.svg" alt="">
            <img
              v-else
              src="../assets/landing-tiles-employees-mo.svg" alt="">
          </div>
          <div class="copy">
            <template v-if="featuresMode == 'ma'">
              Create challenges for your employees and receive actionable<br class="mobile-hide">
              insights on problem-solving and decision-making.
            </template>
            <template v-else>
              Discover overlooked opportunities and address them efficiently<br class="mobile-hide">
              by empowering your employees to pitch improvement proposals.
            </template>
          </div>
        </div>
        <div class="features-tiles mobile-hide">
          <img
            v-if="featuresMode == 'ma'"
            src="../assets/landing-tiles-managers-de.svg" alt="">
          <img
            v-else
            src="../assets/landing-tiles-employees-de.svg" alt="">
        </div>
      </div>

      <div class="hero-foot features-switches mobile-hide">
        <a href=""
          :class="{ 'is-active': featuresMode == 'ma' }"
          @click.prevent="setFeaturesMode('ma')">Managers</a>
        <a href=""
          :class="{ 'is-active': featuresMode == 'em' }"
          @click.prevent="setFeaturesMode('em')">Employees</a>
      </div>
    </div>

    <div class="hero is-fullheight landing-join">
      <div class="hero-inner">
        <h3 class="title mobile-hide">Get Started</h3>
        <AuthForm/>
      </div>
    </div>
  </div>
</template>

<script>
import AuthForm from '@/components/AuthFormNew'

export default {
  name: 'LandingPage',

  components: {
    AuthForm,
  },

  data () {
    return {
      featuresMode: 'ma',
    }
  },

  methods: {
    learnMore () {
      this.$scrollTo('.landing-features', 300)
    },

    setFeaturesMode (mode) {
      this.featuresMode = mode
    },
  }
}
</script>

<style scoped lang="stylus">
.landing-background
  position fixed
  height 100%
  width 100%
  background-image url('../assets/landing-bg.svg')
  background-size cover
  z-index -10

.intro-titles
  h1, h2
    text-align center
    color #fff
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);

  h1
    font-size 80px
    font-weight bold

    *
      letter-spacing 5px

  h2
    margin-top -1.25rem !important
    font-size 48px
    letter-spacing 4px

    @media (max-width: 768px)
      font-size 30px
      line-height 1.4

.learn-more
  padding-bottom 40px
  text-align center

  a
    display inline-block
    padding-bottom 18px
    color #fff
    font-size 16px
    line-height 1
    border-bottom 1px solid #fff

    @media (max-width: 768px)
      font-size 20px

    &:hover
      border-bottom 1px solid transparent

.landing-features
  .hero-body
    position relative
    padding-left 180px

    @media (max-width: 768px)
      padding-left 40px

.landing-inner
  width 100%

.features-copy
  .title
    font-size 80px
    font-weight bold
    letter-spacing 5px
    color #fff

  .copy
    font-size 18px
    font-weight 500
    color #fff
    line-height 1.8

  @media (max-width: 768px)
    .title
      margin-bottom 0
      font-size 50px
      font-weight bold
      letter-spacing 3px

    .copy
      font-size 16px
      font-weight 400
      padding-right 12px

  @media (max-width: 374px)
    .title
      font-size  45px

    .copy
      font-size 15px

.features-tiles
  margin-top 60px
  margin-bottom 20px

  img
    margin-left -20px

  @media (max-width: 374px)
    margin-top 48px
    margin-bottom 8px

  @media (min-width: 769px)
    position absolute
    right 0
    padding-top 5%

    img
      height 445px

.features-switches
  padding-bottom 50px
  text-align center

  a
    display inline-block
    padding-bottom 17px
    font-size 40px
    line-height 1
    color #fff
    font-weight bold
    letter-spacing 3px
    opacity .7

    &.is-active
      opacity 1
      border-bottom 1px solid #fff

    &:hover
      opacity 1

  a + a
    margin-left 140px

  @media (max-width: 768px)
    padding-top 40px
    padding-right 30px
    padding-bottom 0
    text-align right
    line-height 1

    a
      font-size 10px
      font-weight bold
      letter-spacing 2px
      text-transform uppercase
      padding-bottom 9px

    a + a
      margin-left 30px

.landing-join
  h3
    margin 35px 0
    text-align center
    font-size 35px
    font-weight bold
    line-height 1
    letter-spacing 3px
    color #fff

  @media (max-width: 768px)
    position relative
</style>
