<template>
  <div class="page-wrapper">
    <UITopBar/>
    <div class="hero is-info is-bold">
      <div class="hero-body">
        <div class="row">
          <div class="col col-main">
            <div class="block-h">
              <button class="delete"></button>
              <h1 class="title">
                March Action 👏
              </h1>
              <h2 class="subtitle">
                This month's agenda: XYZ monetization
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs is-fullwidth">
      <ul>
        <li class="is-active"><a>Active</a></li>
        <li><a>Finished</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col col-main">
        <div class="block-h mt" v-if="true">
          <router-link class="button is-brand is-fw is-outlined"
            :to="{ name: 'challenge-new' }">
            Start a new challenge
          </router-link>
        </div>
        <div class="challenge-tiles">
          <ChallengeTile/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UITopBar from '@/components/UITopBar'
import ChallengeTile from '@/components/ChallengeTile'

export default {
  name: 'MainPage',

  components: {
    UITopBar,
    ChallengeTile,
  },

  data () {
    return {
      isMobile: this.$isMobile,
    }
  },
}
</script>

<style scoped lang="stylus">
.hero
  .subtitle
    margin-top -1.25rem

  .block-h
    position relative

  .delete
    position absolute
    top -1rem
    right 0

    @media (max-width: 768px)
      right 1rem

.challenge-tiles
  margin-top 1.5rem
</style>
