<template>
  <div class="page-wrapper wrapper-staff">
    <UITopBar/>
    <div class="row">
      <div class="col col-main">
        <StaffInvites class="staff-invites"/>
        <div class="divider"></div>
        <StaffTile
          v-for="user in users"
          :obj="user"
          :key="user.id"/>
      </div>
    </div>
  </div>
</template>

<script>
import UITopBar from '@/components/UITopBar'
import StaffTile from '@/components/StaffTile'
import StaffInvites from '@/components/StaffInvites'
import { mapState, mapActions } from 'vuex'
import types from '../store/types'
import mixins from '../mixins'

export default {
  name: 'StaffPage',

  components: {
    UITopBar,
    StaffTile,
    StaffInvites,
  },

  mixins: [mixins.managersOnlyMixin],

  created () {
    this[types.GET_USERS]()
  },

  data () {
    return {
      isMobile: this.$isMobile,
    }
  },

  computed: {
    ...mapState(['user', 'users']),
  },

  methods: {
    ...mapActions([types.GET_USERS])
  }
}
</script>

<style scoped lang="stylus">
.staff-invites
  margin-top 1.5rem

.divider
  margin 1.2rem 0
</style>
