<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import types from './store/types'

export default {
  name: 'App',

  computed: {
    ...mapState(['user', 'routesWithAuth']),
  },

  created () {
    this.init()
  },

  methods: {
    init () {
      console.log('App: init')

      this[types.INIT_HTTP]()
      this[types.INIT_RESOURCES]()

      const routeName = this.$route.name

      if (this.user) {
        this[types.UPDATE_USER]({ id: this.user.id })

      } else {
        if (this.routesWithAuth.indexOf(routeName) === -1) {
          this.$router.push({ name: 'intro' })
        }
      }
    },

    ...mapMutations([types.INIT_HTTP, types.INIT_RESOURCES]),
    ...mapActions([types.UPDATE_USER]),
  },
}
</script>
<style src="../node_modules/bulma/css/bulma.css" lang="css">
</style>
<style src="../node_modules/bulma-pageloader/bulma-pageloader.css" lang="css">
</style>
<style src="./app.styl" lang="stylus">
</style>
